<html>
  <head>
    <title>React Webpack template</title>
    <script src="assets/marked.js"></script>
    <% if Rails.env.development? %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% end %>
  </head>
  <body>
    <%= react_component('ReactComponents.Topics', {
      "topics_array": @topics_array,
      "topics": @topics,
      "title": @title,
      "notebooks_struct": @notebooks_struct,
      "notebookTitle": @notebookTitle,
      "categoryTitle": @categoryTitle,
      "branchName": @branchName
      }) %>
  </body>
</html>
