<html>
  <head>
    <title>React Webpack template</title>
    <% if Rails.env.development? %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% end %>
  </head>
  <body>
    <%= react_component('ReactComponents.App') %>
  </body>
</html>
