<html>
  <head>
    <title>React Webpack template</title>
    <% if Rails.env.development? %>
      <script src="http://localhost:35729/livereload.js"></script>
    <% end %>
  </head>
  <body>
    <!--<div id="root">If you see this then something is wrong.</div>-->
    <% if true %>
    <%= react_component('App', {someVal: @someVal}) %>
    <% end %>
  </body>
</html>
